body {
    font-family: Arial, sans-serif;
    background-color: #f5f7f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px -5%;
    background-color: white;
}

header .logo {
    width: 50px;
    height: 50px;
}

header h1 {
    font-size: 2em;
    margin: 0;
}

.task-controls {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.add-task,
.add-section {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}